body {
  min-width: 300px;
  margin: 0;
  padding: 0;
  font-size: 10px;
}

.container {
  padding: 10px;
}

h1.title {
  font-size: 1.4rem;
  margin: 0;
}

.mapArea {
  margin-top: 10px;
  padding: 0 5px 0 5px;
  display: flex;
  flex-direction: column;
}

.getMapBtn {
  margin-bottom: 5px;
}

#maparea {
  resize: none;
  height: 250px;
}

.imageSection {
  margin-top: 10px;
  padding: 0 5px 0 5px;
}

.embedSection {
  margin-top: 10px;
  padding: 0 5px 0 5px;
}

.generatedKeySection {
  margin-top: 10px;
  padding: 0 5px 0 5px;
}
